extends layout

block content

  script(src="/javascripts/angularApp.js")

  .row
    .col-md-6.col-md-offset-3
      ui-view


  script(type="text/ng-template" id="/enable_account.html")
    .page-header
      h1 Your account has been enabled.
      h2 Welcome, {{ info.username | uppercase}}!

  script(type="text/ng-template" id="/expired.html")
    .page-header
      h1 EXPIRED

  script(type="text/ng-template" id="/protected.html")
    .page-header
      h1 PROTECTED
      h2 message: {{ message_from_server.success }}

  script(type="text/ng-template" id="/pending.html")
    .page-header
      h1 please go to your mail and click the link




  script(type="text/ng-template" id="/home.html")
    .page-header

        h1(ng-show="isLoggedIn()") welcome home {{ currentUser() }}
        h1(ng-hide="isLoggedIn()") you are not logged in.

  script(type="text/ng-template" id="/register.html")
    .page-header
      h1 mean authentication
      p {{ expired_notice }}

    div(ng-show="error" class="alert alert-danger row")
      span {{ error.message }}

    form(ng-submit="register()",style="margin-top:30px;", name="register_form")
      h3 Register

      .form-group(class="reg_form_input")
        input(type="text",class="form-control",placeholder="Username", name='username',ng-model="user.username" username required)/

        //div {{ user.username }}
      .form-group
        p(class='mini-form',ng-show="hide_six") ✔ >= 6 chars
        p(class='mini-form',ng-show="username_digits_letters") ✔ only digits and letters, please
        span(ng-show="username_looks_good") username looks good!


      div(class='form-group reg_form_input')
        input(class='email_reg_form', type="email",class="form-control",placeholder="Email address",name="input",ng-model="user.email" required)/

      .form-group
        p(ng-class="{hide: register_form.input.$valid}", class='mini-form') dat not good email
        p(ng-class="{hide: !register_form.input.$valid}", class='mini-form') dat better email

      .form-group(class=' form-group reg_form_input')
        input(type="password",class="form-control",name="password",placeholder="Password",ng-minlength="6",ng-model="user.password" password required)/

      .form-group
        p(class='mini-form', ng-show='pd_gt_six') passwords must be >= 6 chars
        p(class='mini-form', ng-show='pd_uppercase') passwords must have at least one uppercase
        p(class='mini-form', ng-show='pd_lowercase') passwords must have at least one lowercase
        p(class='mini-form', ng-show='pd_number') passwords must have at least one number
        span(ng-show="register_form.password.$error.password") password looks good!

      button(type="submit" class="btn btn-primary") Register












  script(type="text/ng-template" id="/login.html")
    .page-header
      h1 mean authentication

    div(ng-show="error" class="alert alert-danger row")
      span {{ error.message }}

    form(ng-submit="logIn()",style="margin-top:30px;")
      h3 Log In

      .form-group
        input(type="text", class="form-control",placeholder="Username",value='test_user',ng-model="user.username")/

      .form-group
        input(type="password",class="form-control",placeholder="Password",ng-model="user.password")/

      button(type="submit" class="btn btn-primary") Log In
