extends layout

block content


  .row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2
      ui-view


  script(type="text/ng-template" id="/enable_account.html")
    .page-header
      div(class="alert alert-success row")
        p Congrats,your account has been enabled!
        p Welcome, {{ info.username | uppercase}}!

  script(type="text/ng-template" id="/reset_password.html")
    .page-header

      div(ng-show="error" class="alert alert-warning row")
      span {{ warning }}

      div(ng-show="error" class="alert alert-success row")
      span {{ success }}

      form(ng-submit="resetPassword()", name="reset_password")
        h3 reset your password
        .form-group
          input(id='password_input', type="password",class="form-control",name="password",placeholder="New Password",ng-model="new_password_1",ng-pattern="/(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])/",ng-minlength="6",ng-maxlength='20' password required)/

          input(type='hidden', ng-model='username')/
          input(type='hidden', ng-model='reset_key')/

        .form-group
          input(id='password_input', type="password",class="form-control",name="password",placeholder="Re-type new password",ng-model="new_password_2",ng-pattern="/(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])/",ng-minlength="6",ng-maxlength='20' password required)/

        .form-group
          p(class='mini-form orange') input valid? = <code>{{register_form.password.$valid}}</code><br>
          p(class='mini-form orange',id='password_length_check') passwords must be >= 6 chars & <=20
          p(class='mini-form orange',id='password_uppercase_check') passwords must have at least one uppercase
          p(class='mini-form orange',id='password_lowercase_check') passwords must have at least one lowercase
          p(class='mini-form orange',id='password_number_check') passwords must have at least one number

    .form-group
          button(type="submit" class="btn btn-primary",ng-disabled="reset_password.$invalid") reset password





  script(type="text/ng-template" id="/forgot_password.html")
    .page-header

      div(ng-show="error" class="alert alert-warning row")
      span {{ warning }}

      div(ng-show="error" class="alert alert-success row")
      span {{ success }}

      form(ng-submit="sendRestPasswordLink()", name="send_reset_password_link")
        h3 forgot password --- enter your username
        .form-group
          input(id='username_input',ng-pattern="/^[a-zA-Z0-9]*$/",ng-minlength="3",ng-maxlength='20',type="text",class="form-control",placeholder="Username", name='username_fp',ng-model="username_fp" username_fp required)/


        .form-group
          button(type="submit" class="btn btn-primary",ng-disabled="send_reset_password_link.$invalid") send reset password link to email address




  script(type="text/ng-template" id="/expired.html")
    .page-header
      h1 EXPIRED

  script(type="text/ng-template" id="/protected.html")
    .page-header
      h1 PROTECTED
      h2 message: {{ message_from_server.success }}

  script(type="text/ng-template" id="/pending.html")
    .page-header
      div(class="alert alert-info row") Please go to your mail and click the link to complete the registration process!




  script(type="text/ng-template" id="/home.html")
    .page-header

        h1(ng-show="isLoggedIn()") welcome home {{ currentUser() }}
        h1(ng-hide="isLoggedIn()") you are not logged in.

  script(type="text/ng-template" id="/register.html")



    .page-header
      div(ng-show="error" class="alert alert-danger row") {{ expired_notice }}

    div(ng-show="error" class="alert alert-danger row")
      span {{ error.message }}

    form(ng-submit="register()",style="margin-top:30px;", name="register_form")

      h3 Register




      .form-group(class="reg_form_input")
        input(id='username_input',ng-pattern="/^[a-zA-Z0-9]*$/",ng-minlength="3",ng-maxlength='20',type="text",class="form-control",placeholder="Username", name='username',ng-model="user.username" username required)/


      .form-group
        div(ng-if="register_form.$pending.usernameExists") checking....
        div(ng-if="register_form.$error.usernameExists") username exists already
        p(class='mini-form orange') input valid? = <code>{{register_form.username.$valid}}</code><br>
        p(class='mini-form orange',id='username_string_length')  >= 3 chars & <=20
        p(class='mini-form orange',id='username_char_check') only digits and letters, please



      div(class='form-group reg_form_input')
        input(autocomplete="off",class='email_reg_form', type="email",class="form-control",placeholder="Email address",name="email",ng-model="user.email" required)/

      .form-group
        p(class='mini-form orange') input valid? = <code>{{register_form.email.$valid}}</code><br>

      .form-group(class='form-group reg_form_input')
        input(id='password_input', type="password",class="form-control",name="password",placeholder="Password",ng-model="user.password",ng-pattern="/(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])/",ng-minlength="6",ng-maxlength='20' password required)/

      .form-group
        p(class='mini-form orange') input valid? = <code>{{register_form.password.$valid}}</code><br>
        p(class='mini-form orange',id='password_length_check') passwords must be >= 6 chars & <=20
        p(class='mini-form orange',id='password_uppercase_check') passwords must have at least one uppercase
        p(class='mini-form orange',id='password_lowercase_check') passwords must have at least one lowercase
        p(class='mini-form orange',id='password_number_check') passwords must have at least one number

      button(type="submit" class="btn btn-primary",ng-disabled="register_form.$invalid") Register













  script(type="text/ng-template" id="/login.html")
    .page-header

    div(ng-show="error" class="alert alert-danger row")
      span {{ error.message }}

    form(name="login_form", ng-submit="logIn()",style="margin-top:30px;")
      h3 Log In

      .form-group
        input(type="text", class="form-control",placeholder="Username",value='test_user',ng-model="user.username",ng-pattern="/^[a-zA-Z0-9]*$/",ng-minlength="3",ng-maxlength='20', required)/

      .form-group
        input(type="password",class="form-control",placeholder="Password",ng-model="user.password",ng-pattern="/(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])/",ng-minlength="6",ng-maxlength='20' required)/

      button(type="submit" class="btn btn-primary",ng-disabled="login_form.$invalid") Log In
      br
    button(ng-click="forgotPassword()", class="btn btn-default") forgot passsword

