extends layout

block content

  script(src="/javascripts/angularApp.js")

  .row
    .col-md-6.col-md-offset-3
      ui-view

  script(type="text/ng-template" id="/protected.html")
    .page-header
      h1 PROTECTED
      h2 {{ test.success }}

  script(type="text/ng-template" id="/pending.html")
    .page-header
      h1 please go to your mail and click the link

  script(type="text/ng-template" id="/enable_account.html")
    .page-header
      h1 your account has been enabled
      h2 {{ info }}


  script(type="text/ng-template" id="/home.html")
    .page-header

        h1(ng-show="isLoggedIn()") welcome home {{ currentUser() }}
        h1(ng-hide="isLoggedIn()") you are not logged in.

  script(type="text/ng-template" id="/register.html")
    .page-header
      h1 mean authentication

    div(ng-show="error" class="alert alert-danger row")
      span {{ error.message }}

    form(ng-submit="register()",style="margin-top:30px;")
      h3 Register

      .form-group
        input(type="text",class="form-control",placeholder="Username",ng-model="user.username")/

      .form-group
        input(type="text",class="form-control",placeholder="Email address",ng-model="user.email")/

      .form-group
        input(type="password",class="form-control",placeholder="Password",ng-model="user.password")/

      button(type="submit" class="btn btn-primary") Register










  script(type="text/ng-template" id="/login.html")
    .page-header
      h1 mean authentication

    div(ng-show="error" class="alert alert-danger row")
      span {{ error.message }}

    form(ng-submit="logIn()",style="margin-top:30px;")
      h3 Log In

      .form-group
        input(type="text", class="form-control",placeholder="Username",value='test_user',ng-model="user.username")/

      .form-group
        input(type="password",class="form-control",placeholder="Password",ng-model="user.password")/

      button(type="submit" class="btn btn-primary") Log In
