doctype html
html
  head
    title mean authentication
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js")


  body(ng-app="authentication_app")

    nav(class="navbar navbar-default navbar-static-top", ng-controller="NavCtrl")
      .container-fluid
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

          a.navbar-brand mean authentication

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-right

            li(ng-show="isLoggedIn()")
              a(href='/#/protected') protected
            li(ng-show="isLoggedIn()")
              a(href='/#/home') {{ currentUser() }}'s page
            li(ng-show="isLoggedIn()")
              a(href="", ng-click="logOut()") Log Out
            li(ng-hide="isLoggedIn()")
              a(href="/#/login") Log In
            li(ng-hide="isLoggedIn()")
              a(href="/#/register") Register
            li
              a(ng-click='emptyDBS()') empty dbs
    block content