.mini-form{
    margin:0px;
    padding:0px;
    font-style: italic;
    text-align: right;
}
.reg_form_input {
    margin-bottom: 0px;
}

.green {
    color:lightgreen;
}

.orange {
    color:#FF9900;
}